<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Boxicons -->
  <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
  <link href='https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>

  <!-- Caminho CSS -->
  <link rel="stylesheet" href="./../../static/css/admin_dashboard.css">
  <title>AdmDashboard</title>
</head>

<body>

  <!-- SIDEBAR -->
  <section id="sidebar">
    <a href="#" class="brand">
      <i class='bxr bx-home'></i>
      <span class="text">Auto Prime Motors</span>
    </a>
    <!-- Itens da Sidebar - Menu Funcionario -->
    <ul class="side-menu top">
      <li class="active">
        <a href="#" onclick="showTabAdmin('todos_os_funcionarios')">
          <!-- Boxicon -->
          <i class='bxr  bx-group'></i>
          <span class="text">Funcionários</span>
        </a>
      </li>
      <li>
        <a href="#" onclick="showTabAdmin('todos_os_setores')">
          <!-- Boxicon -->
          <i class='bxr  bx-building-house'></i>
          <span class="text">Setores</span>
        </a>
      </li>
      <li>
        <a href="#" onclick="showTabAdmin('postar_nova_tarefa')">
          <!-- Boxicon -->
          <i class='bxr  bx-clipboard-plus'></i>
          <span class="text">Postar Tarefas</span>
        </a>
      </li>
    </ul>

    <!-- Itens da Sidebar - Configurações -->
    <ul class="side-menu">
      <li>
        <a href="#">
          <!-- Boxicon -->
          <i class='bxr  bx-cog'></i>
          <span class="text">Setting</span>
        </a>
      </li>
      <li>
        <a href="{{url_for('auth.logout')}}" class="logout">
          <!-- Boxicon -->
          <i class='bxr  bx-arrow-out-left-square-half'></i>
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- SIDE BAR -->


  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i class='bxr  bx-menu-wider'></i>
      <!-- ===O NOME AQUI O NOME DO FUNCIONARIO VIRA DO BANCO DE DADOS DE FORMA DINAMICA===-->
      <a href="#" class="nav-link">Administrador</a>
      <!-- ==========================================================-->

      <form action="#">
        <div class="form-input">
          <input type="search" placeholder="Escolha...">
          <button type="submit" class="search-btn"><i class='bxr bx-search'></i></button>
        </div>
      </form>
      <a href="#" class="notification">
        <i class="bxr bxs-bell"></i>
        <!-- ===POODE SER MUDADO DINAMICAMENTE CONFORME O FUNCIONARIO RECEBA DEMANDA=== -->
        <span class="num">2</span>
        <!-- ========================================================================== -->
      </a>

      <!-- ===A FOTO AQUI VIRA DO BANCO DE DADOS DE FORMA DINAMICA===-->
      <a href="#" class="imgFuncionario">
        <!-- <img src="{{ url_for('static', filename='teste.png') }}" alt="img Teste"> -->
      </a>
      <!-- ===========================================================-->


    </nav>
    <!-- NAVBAR -->


    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Dashboard</h1>
          <ul class="breadcrum">
            <li>
              <a href="#">Dashboard</a>
            </li>
            <li>
              <i class="bxr bx-chevron-right"></i>
            </li>
            <li>
              <a class="active" href="#">Home</a>
            </li>
          </ul>
        </div>
        <a href="#" class="btn-download">
          <i class='bxr  bx-arrow-out-down-square-half'></i>
          <span class="text">Download PDF</span>
        </a>
      </div>


      <!-- Conteúdo dos dados do Administrador -->
      <div id="todos_os_funcionarios_tab">
        {% include 'components/todos_os_funcionarios.html' %}
      </div>
      <div id="todos_os_setores_tab" style="display: none;">
        {% include 'components/todos_os_setores.html' %}
      </div>
      <div id="postar_nova_tarefa_tab" style="display: none;">
        {% include 'components/postar_nova_tarefa.html' %}
      </div>
      <!-- Conteúdo dos dados do Administrador -->

    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->


  <!-- Forma correta de referenciar arquivo na pasta static no Flask -->
  <script src="{{ url_for('static', filename='js/admin_dashboard.js') }}"></script>

  <!-- Script de load de componentes da formulário do administrador -->
  <script src="{{ url_for('static', filename='js/admin_dashboard_components.js') }}"></script>
</body>

</html>